body {
  background: #fafafa;
}

.App {
  text-align: center;
}

.section-container {
  margin: 24PX 0;
}

.spedoku-container {
  width: 95%;
  max-width: 600px;
  margin: 0px auto;
  padding: 0;
}

.spedoku-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  border: 3px solid #000;
  background-color: #f5f7fb;
}

.spedoku-table td {
  /* width: 11.11%; */
  position: relative;
  border: 1px solid #cad8ef;
  overflow: hidden;
  color: #333;
}

.spedoku-table td input {
  width: 50px;
  height: 50px;
  border: 0;
  outline: 0;
  font-size: 40px;
  background: inherit;
  text-align: center;
}

.difficulty-btn {
  color: #fff;
  line-height: 1.5715;
  padding: 8px;
  margin: 0 4px;
  border: none;
  width: 110px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.easy {
  background: #61cf61;
}

.medium {
  background: #FF964F;
}

.hard {
  background: #FF6961;
}

.clear-btn {
  color: #333;
  font-weight: 600;
}

.solve-btn {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  height: 40px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  padding: 6.4px 15px;
  width: 460px;
}

.solution-btn {
  line-height: 1.5715;
  padding: 8px;
  border: 1px solid #d9d9d9;
  width: 110px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.validate-btn {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.difficulty-pair-btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pair-message {
  border: 1px solid rgb(231, 231, 231);
  border-left: none;
  padding: 10px;
  display: inline-block;
}

.validate-message {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0 32px 0 0;
}

.difficulty-message {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.loading {
  color: #333;
}