button {
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.App {
  text-align: center;
}

.section-container {
  margin: 24px 0;
  text-align: center;
}

.spedoku-container {
  width: 95%;
  max-width:540px;
  margin: 0px auto;
  padding: 0;
}

.spedoku-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  border: 3px solid #000;
  background-color: #f5f7fb;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.spedoku-table td {
  /* width: 11.11%; */
  position: relative;
  border: 1px solid #cad8ef;
  overflow: hidden;
  color: #333;
}

.spedoku-table td input {
  width: 50px;
  height: 50px;
  border: 0;
  outline: 0;
  font-size: 40px;
  background: inherit;
  text-align: center;
}

.clear-btn {
  background: #fff;
  color: #333;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 8px;
  padding: 10px 24px;
  margin-left: 120px;
}

.solve-btn {
  color: #fff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  line-height: 1.5715;
  position: relative;
  text-align: center;
  height: 60px;
  border: 1px solid #1890ff;
  padding: 6.4px 15px;
  width: 510px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.spacer {
  margin: 0 12px;
}

.loading {
  color: #333;
  height: 500px;
  vertical-align: middle;
  display: table-cell;
  width: 530px;
}
